.tourists-container {
    h3 {
        text-align: center;
    }

    table {
        width: 80%;
        border: 1px solid black;
        text-align: center;
        margin: 10px 0 10px 10%;

        tr {
            th {
                border: 1px solid black;
            }

            td {
                border: 1px solid black;

            }
        }
    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
    }
}