.add-tourist-to-flight-container {
    text-align: center;

    h3 {
        padding: 10px;
    }

    table {
        width: 80%;
        border: 1px solid black;
        text-align: center;
        margin: 10px 0 10px 10%;

        tr {

            th {
                border: 1px solid black;
            }

            td {
                border: 1px solid black;

            }
        }
    }

}